/*General*/

.cardContainer {
  margin-top: 10px;
  text-align: center;
}

.card {
margin: 0 auto;
}


.customNav {
position: fixed;
width: 100%;
background: url(https://i.redd.it/ccz3fco5ozf71.jpg);
background-color: transparent !important;
background-size: cover;
z-index: 10;
}


.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.jumbotron {
  height: calc(60vh - 80px);
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

}

.jumboCopy {
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  color: white;
  text-align: center;
}
.content {
  padding: 60px;
}

.sectionHeading {
  text-align: center;
}

h1 {
  color: pink;
}

h2, h4{
  text-align: center;
}

p {
  color: white;
}

.signUp form {
  margin: 35px auto;
  background-color:#f2f2f2;
  padding: 20px 200px;
  border-radius:5px;
}

/* Contact section */
.contact-info ul, a {
  color: #31343d;
  font-size: 22px;
  list-style: none;
  display: inline-flex;
}

.contact-info ul li {
   border-bottom: 2px solid #31343d;
  margin: 5px 28px;
  align-self: center;
  justify-content:center;
}

